<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me! Well, My name is Lauren Dove but I go by Elle since most people call me "L" or lo. I figured I'd spell it out and be fancy. I love to roller skate.</p>
    </body>
</html>

